body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: #626262;
}

header {
    overflow: hidden;
    height: 112px;;
}
.header-left{
    float:left;
    width:15%;
    margin-top: 30px;
    margin-left: 60px;
}
.header-right {
    float: right;
    width: 76%;
    margin-top:30px;
}

.header-right a {
    float: left;
    color: #626262;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase; 
    letter-spacing: 2px;
}

.desktop-nav-links a{
    margin-right: 70px;
}

.header-right a:hover{
    color: #FE2E6D;
    font-weight: bolder;
}



.phone-email-prize span{
    display: block;
    width: 100%;
    text-align: right;

}
.phone-email-prize a{
    font-size:19px;
    letter-spacing: 0px;
}

.phone-email{
    float:left;
    margin-right:30px;
}

.desktop-nav{
    width:100%;
}

.button{
    background: #FE2E6D;
    height: auto;
    border-radius: 3px;
    height: 36px;
    width: 130px;
    color: #fff !important;
}

.btn-pp{
    height: 60px;
    width: 320px;
    color: #fff !important;
    font-size: 20px;
    background: linear-gradient(  #f55a6a, #fe2e6d);
    border-radius: 9px;
    line-height:47px;
}

.header-right .button {
        line-height: 25px;
        height: 50px;
        width: 178px;
        font-size: 18px;
        background: linear-gradient(  #f55a6a, #fe2e6d);
        border-radius: 9px;
}

.white-button{
    color: #FE2E6D;
    line-height: 46px;
    height: 60px;
    border-radius: 9px;
    background: #fff;
    text-transform: uppercase; 
    width: 320px;
    font-size: 20px;
}

#btn-sign-me-up{
    margin-left:3px;
}

.header-right #phone{
    font-size: 15px;
}

.hero {
    width:100%;
    height:760px;
    color: #fff;
}  

.in-content-hero{
    width:100%;
    height:500px;
    color: #fff;
}

#mobile-nav-toggle{
    display:none;
}

.phone-icon{
    display: none;
}

#hero_text{
    font-size:62px;
    display:block;
    width: 980px;
    padding: 127px 0 0 70px;
    line-height:68px;
    margin-left:215px;
    font-family: 'Work Sans', sans-serif;
    font-style: 'semi-bold';
}

.card-title{
    font-size:30px;
}

.card-text{
    font-size:18px;
}

.heading-text{
    text-align: center;
    height:auto;
    padding: 20px;
    font-size: 30px;
}

.heading-text h1{
    font-size: 54px;
}

.card-custom{
    height:433px;
}

.card{
    border:none;
    background: none;
    text-align:center;
    margin:auto;
   
}

.card-img-top{
    width: 131px;
    height:106px;
    margin:auto;
}

.bg-brand-color{
    background: linear-gradient(  #f55a6a, #fe2e6d);
    color: #fff;
    /* margin-top:109px; */
}

.prize-fulfilment-text{
    margin-bottom:25px;
}

.campaign-handling-title{
    margin-bottom:48px;
}

.campaign-handling-text{
    margin-bottom: 44px;
}

.customer-service-support-text{
    margin-bottom: 44px;
}

.mobile-show{
    display:none;
}

.grey-bg{
    background: #F0F0F0;
}

footer a{
    color: #757575;
}

.a-block a{
 display: block;
}


.desktop-nav-links{
    width:62%;
    height:auto;
}
.phone-email-prize{
    float: right;
    height: 56px;
    margin-left: 46px;
    font-size: 16px;
    color: #626262;
    margin-right:60px;
}
.desktop-arrow-how-it-works{
    width:95px;
}
.desktop-arrow-how-it-works-wrapper{
    height: 40px;
    margin-top: 36px;
}

.mt-103{
    margin-top:103px;
}

.mb-86{
    margin-bottom:86px;
}
.pb-86{
    padding-bottom:86px;
}
.mt-120{
    margin-top: 120px;
}

.pb-109{
    padding-bottom:109px;
}

.prize-incentive-img{
    width: 203px;
    height: 148px;
}

.mt-83{
    margin-top:83px;
}

.mt-27{
    margin-bottom:27px;
}
.footer-heading-text{    
    display: block;
    margin-bottom: 1rem;
}
.footer-col-2 p {
    margin-bottom:0px;
}

.footer-col-1-heading-text{
    font-size:14px;
}
.contact-us-icons{
    margin:auto;
}

.prize-sourcing-text{
    margin-bottom:26px;
}
.winner-mgt-text{
    margin-bottom:23px;
}
.footer-copyright{
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    font-size:10px;
    text-align: center;
}

.footer-copyright p{
    margin-bottom: 2px;
}
/*--- Media queries --*/

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .grey-bg{
        background: #F0F0F0;
    }
    .in-content-hero{
        width:100%;
        height:200px;
        color: #fff;
    }

    .hero{
        height:400px;
        width:100%;
    }

    #hero_text{
        font-size:27px;
        display:block;
        width:300px;
        padding: 42px 0 0 40px;
    }

    header{
        height:62px;
    }
    
    .logo {
        width: 200px;
        float:left;
    }
    
    .header-right {
         float: right;
         width:auto;
         margin-top:10px;
    }

    #mobile-nav{
        width:92%;
        clear: both; 
        border-top:2px solid #707070;
        text-align:center;
        height:304px;
        margin:auto;
        color: #626262;
    }

    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase; 
        color: #626262;
    }
    #mobile-nav a:hover{
        color: #FE2E6D;
        font-weight: bolder;
    }
    #mobile-nav-toggle{
        display:block;
        float:right;
        color: #626262;
    }

    .desktop-nav{
        display:none;
    }

    .heading-text{
        text-align: center;
        height:auto;
    }
    .heading-text h1 {
        font-size: 46px;
    }

    .mobile-hide{
        display:none;
    }
    .mobile-show{
        display:block;
        margin:auto;
        width:20%;
        padding: 9px;
    }

    .header-left {
        float: left;
        width: 44%;
        margin-left: 24px;
        margin-top:18px;
    }
    .phone-icon{
        display: block;
        float:left;
        margin-top:12px;
        color: #626262;
    }
    .hamburger-icon{
        display: inline-block;
    }
    .mobile-nav-content{
        height:62px;
        float:right;
    }
    .phone-email span{
        display:block;
    }

    .phone-email {
        float: right;
        width: 100%;
        margin: auto;
    }
    #hero_text{
        display:block;
        line-height:37px;
        font-size:34px;
        margin-left:11px;
        width: 310px;
        font-family: 'Work Sans', sans-serif;
    }
    .btn-pp {
        width: 291px;
    }
    .mobile-arrow-how-it-works-wrapper{
        height: 97px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .mobile-arrow-how-it-works{
        height: 95px;
    }
    .mt-83{
        margin-top:30px;
    }
    #btn-sign-me-up{
        margin-left:0px;
        margin-top:10px;
        width:100%;
        margin-bottom: 10px;
    }
    .white-button {
        color: #FE2E6D;
        line-height: 38px;
        height: 51px;
        border-radius: 9px;
        width: 263px;
    }
    .footer-follow-us{
        margin-top:10px;
    }
    .footer-follow-us-text{
        width: 50%;
        float: left;
    }
    .footer-follow-icons{
        float: right;
        width: 50%;
    }
    .footer-contact-us{
        margin-bottom:30px;
    }
    .footer-contact-us-text{
        width: 50%;
        float: left;
    }
    .contact-us-icons {
        margin-left: auto;
        margin-right: 26px;
        float: right;
        width: 30%;
    }
    .a-block{
        float:right;
        width:40%;
    }
    .address-useful-links{
        width:100%;
        margin-bottom: 30px;
    }
    .footer-col-2{
        float:left;
        width:53%;
    }
 }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .desktop-nav{
        display:none;
    }
    .header-right {
        float: right;
        width: 45%;
        margin-top: 30px;
    }
    #mobile-nav-toggle{
        display:block;
        float:right;
        color: #626262;
        margin-right: 16px;
    }
    .phone-icon{
        display: block;
        float:left;
        color: #626262;
        margin-top:12px;
    }

    #mobile-nav{
        width:92%;
        clear: both; 
        border-top:2px solid #707070;
        text-align:center;
        height:304px;
        color: #626262;
        margin:auto;
    }

    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase; 
        color: #626262;
    }

    #mobile-nav a:hover{
        color: #FE2E6D;
        font-weight: bolder;
    }

     .mobile-nav-content{
        width: 45%; 
        height:62px;
        float:right;
    } 
     .hamburger-icon{
        display: inline-block;
    }

    .logo{
        width: 200px;
    }
    .header-left{
        width: 42%;
        margin-top: 33px;
        margin-left: 38px;
    }
    .phone-email span{
        display:block;
    }

    .phone-email {
        float: right;
        width: 100%;
        margin: auto;
    }
    #hero_text{
        font-size:62px;
        display:block;
        width: 447px;
        padding: 127px 0 0 70px;
        line-height:68px;
        margin-left:11px;
        font-family: 'Work Sans', sans-serif;
    }
    .mobile-hide{
        display:none;
    }
    .mobile-show{
        display:block;
    }
    .mobile-arrow-how-it-works-wrapper{
        height: 97px;
        margin: auto;
    }
    .mobile-arrow-how-it-works{
        height: 95px;
    }
    .white-button {
        color: #FE2E6D;
        line-height: 38px;
        height: 51px;
        border-radius: 9px;
        width: 263px;
    }
 }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 200px;
    }
    .desktop-nav{
        display:none;
    }
    header {
        overflow: hidden;
        padding: 5px 5px;
        height: 112px;
    }

    #mobile-nav-toggle{
        display:block;
        float:right;
        margin-right: 16px;
        color: #626262;
    }

    .phone-icon{
        display: block;
        float:left;
        margin-top:10px;
        color: #626262;
    }

    #mobile-nav{
        width:100%;
        clear: both; 
        border-top:2px solid #ccc;
        text-align:center;
        color: #626262;
        height:304px;
    }

    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase; 
        color: #626262;
    }

    #mobile-nav a:hover{
        color: #FE2E6D;
        font-weight: bolder;
    }
   
     .mobile-nav-content{
        width: 75%; 
        height:62px;
        float:right;
    } 
     .hamburger-icon{
        display: inline-block;
    }

    .header-right {
        float: right;
        width: 18%;
        margin-top: 30px;
    }

    .header-left{
        width: 42%;
        margin-top: 33px;
        margin-left: 38px;
    }

    .phone-email span{
        display:block;
    }

    .phone-email {
        float: right;
        width: 100%;
        margin: auto;
    }
    #hero_text{
        font-size:62px;
        display:block;
        width: 755px;
        padding: 127px 0 0 70px;
        line-height:68px;
        margin-left:11px;
        font-family: 'Work Sans', sans-serif;
    }
    .btn-pp {
        height: 45px;
        width: 192px;
        font-size: 15px;
        background: linear-gradient( #f55a6a, #fe2e6d);
        border-radius: 9px;
        line-height: 31px;
    }

    .heading-text {
        font-size: 20px;
    }
    .card-text {
        font-size: 15px;
    }
    .card-title {
        font-size: 25px;
    }
  
    .prize-fulfilment-text {
        /* margin-top: 17px; */
        margin-bottom: 16px;
    }
    .prize-sourcing-text{
        margin-bottom:41px;
    }
    .campaign-handling-text {
        margin-bottom: 35px;
    }
    .customer-service-support-text {
        margin-bottom: 37px;
        margin-top: 16px;
    }
    .end-to-end-text{
        margin-top: 44px;
    }
    .card-custom{
        height: auto;
    }
    .desktop-arrow-how-it-works{
        width:50px;
    }
    .desktop-arrow-how-it-works-wrapper{
        height: 40px;
        margin-top: 119px;
    }
 }

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logo {
        width: 200px;
    }
    .desktop-nav{
        display:none;
    }
    header {
        overflow: hidden;
        padding: 5px 5px;
        height: 112px;
    }

    #mobile-nav-toggle{
        display:block;
        float:right;
        margin-right: 16px;
    }
    .phone-icon{
        display: block;
        float:left;
        margin-top:10px;
    }
    #mobile-nav{
        width:100%;
        clear: both; 
        border-top:2px solid #ccc;
        text-align:center;
        height:304px;
        color: #626262;
    }
    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
        text-transform: uppercase; 
        color: #626262;
    }

    #mobile-nav a:hover{
        color: #FE2E6D;
        font-weight: bolder;
    }
   
     .mobile-nav-content{
        width: 65%; 
        height:62px;
        float:right;
    } 
     .hamburger-icon{
        display: inline-block;
    }

    .header-right {
        float: right;
        width: 25%;
        margin-top: 30px;
    }

    .header-left{
        width: 42%;
        margin-top: 33px;
        margin-left: 38px;
    }

    .phone-email span{
        display:block;
    }

    .phone-email {
        float: right;
        width: 100%;
        margin: auto;
    }
    #hero_text{
        font-size:62px;
        display:block;
        width: 755px;
        padding: 127px 0 0 70px;
        line-height:68px;
        margin-left:11px;
        font-family: 'Work Sans', sans-serif;
    }
    .btn-pp {
        height: 45px;
        width: 192px;
        font-size: 15px;
        background: linear-gradient( #f55a6a, #fe2e6d);
        border-radius: 9px;
        line-height: 31px;
    }

    .heading-text {
        font-size: 20px;
    }
    .card-text {
        font-size: 15px;
    }
    .card-title {
        font-size: 25px;
    }
   
    .prize-fulfilment-text {
        margin-bottom: 16px;
    }
    .prize-sourcing-text{
        margin-bottom:41px;
    }
    .campaign-handling-text {
        margin-bottom: 35px;
    }
    .customer-service-support-text {
        margin-bottom: 37px;
        margin-top: 16px;
    }
    .end-to-end-text{
        margin-top: 44px;
    }
    .card-custom{
        height: auto;
    }
    .desktop-arrow-how-it-works{
        width:50px;
    }
    .desktop-arrow-how-it-works-wrapper{
        height: 40px;
        margin-top: 119px;
    }
    .mt-83{
        margin-top:30px;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media  (min-width: 1025px) and (max-width: 1258px) {
    .logo{
        width:180px;
    }

    .header-right {
        float: right;
        width: 75%;
        margin-top:30px;
    }
    
    .header-right a {
        float: left;
        color: #626262;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        text-transform: uppercase; 
    }
    
    .phone-email {
        display:none;
    }

    .header-left {
        margin-top: 39px;
    }

    .desktop-nav-links a {
        margin-right: 7px;
        font-size: 16px;
    }

    .desktop-nav-links {
        width: 76%;
    }

    .header-right .button {
        width: 132px;
        font-size: 13px;
        height: 45px;
    }


    .phone-email-prize {
        float: right;
        height: 56px;
        margin-left: 33px;
        font-size: 16px;
        color: #626262;
        margin-right: 27px;
    }

    #hero_text{
        font-size:62px;
        display:block;
        width: 755px;
        padding: 127px 0 0 70px;
        line-height:68px;
        margin-left:11px;
        font-family: 'Work Sans', sans-serif;
    }

    .btn-pp {
        height: 51px;
        width: 243px;
        font-size: 18px;
        background: linear-gradient( #f55a6a, #fe2e6d);
        border-radius: 9px;
        line-height: 39px;
    }

    .heading-text {
        font-size: 20px;
    }
    .card-text {
        font-size: 15px;
    }
    .card-title {
        font-size: 25px;
    }
    .card-img-top {
        height: 100px;
    }
    .prize-fulfilment-text {
        margin-top:43px;
        margin-bottom:15px;
    }
    .prize-sourcing-text{
        margin-top:43px;
    }
    .campaign-handling-text {
        margin-bottom: 35px;
    }
    .customer-service-support-text {
        margin-bottom: 30px;
        margin-top: 23px;
    }
    .desktop-arrow-how-it-works-wrapper{
        height: 40px;
        margin-top: 119px;
    }
}

@media (min-width: 1258px) and (max-width: 1298px) {
    .desktop-nav-links a{
        margin-right: 13px;
        font-size:17px;
    }
    .logo{
        width:180px;
    }

    .phone-email a{
        font-size:16px;
    }

    .phone-email {
        float: left;
        margin-right: 9px;
        font-size: 13px;
    }

    .header-right .button {
        width: 132px;
        font-size: 13px;
        height: 45px;
    }
    .header-right {
        float: right;
        width: 78%;
        margin-top: 30px;
    }

    .phone-email-prize {
        float: right;
        height: 56px;
        margin-left: 9px;
        font-size: 16px;
        color: #626262;
        margin-right: 8px;
    }
    .desktop-nav-links {
        width: 64%;
        height: auto;
    }
    .header-left {
        margin-top: 39px;
    }
    #hero_text{
        font-size:62px;
        display:block;
        width: 980px;
        padding: 127px 0 0 70px;
        line-height:68px;
        margin-left:11px;
        font-family: 'Work Sans', sans-serif;
    }
    .btn-pp {
        height: 56px;
        width: 285px;
        color: #fff !important;
        font-size: 20px;
        border-radius: 9px;
        line-height: 42px;
    }
}

@media (min-width: 1298px) and (max-width: 1559px) {
    .desktop-nav-links a{
        margin-right: 13px;
        font-size:17px;
    }
    .logo{
        width:200px;
    }

    .phone-email a{
        font-size:16px;
    }

    .phone-email {
        float: left;
        margin-right: 25px;
        font-size: 13px;
    }

    .header-right .button {
        width: 134px;
        font-size: 15px;
        height: 45px;
    }
    .header-right {
        float: right;
        width: 77%;
        margin-top: 30px;
    }

    .phone-email-prize {
        float: right;
        height: 56px;
        margin-left: 9px;
        font-size: 16px;
        color: #626262;
        margin-right: 10px;
    }
    
    .header-left{
        margin-top: 36px;
    }

    #hero_text{
        font-size:62px;
        display:block;
        width: 980px;
        padding: 127px 0 0 70px;
        line-height:68px;
        margin-left:11px;
        font-family: 'Work Sans', sans-serif;
    }
}

@media (min-width: 1560px) and (max-width:1598px){
    .desktop-nav-links a{
        margin-right: 13px;
        font-size:17px;
    }
    .logo{
        width:200px;
    }

    .phone-email a{
        font-size:16px;
    }

    .header-left{
        margin-top: 36px;
        
    }
    .header-right .button {
        width: 178px;
        font-size: 16px;
        
    }
    .header-right {
        float: right;
        width: 77%;
        margin-top: 30px;
    }
}

@media (min-width: 1599px) and (max-width:1693px){
 
    .desktop-nav-links a{
        margin-right: 16px;
        font-size:18px;
    }
    .logo{
        width:250px;
    }

    .phone-email a{
        font-size:16px;
    }

   
}

@media (min-width: 1694px) and (max-width:1760px){
    .desktop-nav {
        width: 100%;
    }
    .header-right a {
        float: left;
        color: #626262;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
    }
   
    

    .desktop-nav-links a{
        margin-right: 34px;
        font-size:18px;
    }
}

@media (min-width: 1760px) and (max-width:1829px){
    .desktop-nav-links{
        width:61%;
        height:auto;
    }
    .phone-email-prize{
        float: right;
        height: 56px;
        margin-left: 46px;
        font-size: 16px;
        color: #626262;
        margin-right:60px;
        /* width: 34%; */
    }

    .desktop-nav-links a{
        margin-right: 34px;
    }

}

@media (min-width: 1829px) and (max-width: 1945px) {
    
    .desktop-nav-links{
        width:61%;
        height:auto;
    }
    .phone-email-prize{
        float: right;
        height: 56px;
        margin-left: 46px;
        font-size: 16px;
        color: #626262;
        margin-right:60px;
    }

    .desktop-nav-links a{
        margin-right: 48px;
    }

   
  
    
}
/*--- End of Media queries --*/