body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    overflow: hidden;
    height: 112px;;
}
.header-left{
    float:left;
    width:15%;
    margin-top: 30px;
    margin-left: 60px;
}
.header-right {
    float: right;
    width: 76%;
    margin-top:30px;
}

.header-right a {
    float: left;
    color: #626262;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase; 
    /* width: 194px; */
    letter-spacing: 2px;
}

.desktop-nav-links a{
    margin-right: 70px;
}

.header-right a:hover{
    color: #FE2E6D;
    font-weight: bolder;
}



.phone-email-prize span{
    display: block;
    width: 100%;
    text-align: right;

}
.phone-email-prize a{
    font-size:19px;
    letter-spacing: 0px;
}

.phone-email{
    float:left;
    margin-right:30px;
}

.desktop-nav{
    width:100%;
}

.button{
    background: #FE2E6D;
    height: auto;
    border-radius: 3px;
    height: 36px;
    width: 130px;
    color: #fff !important;
}

.header-right .button {
        line-height: 25px;
        height: 50px;
        width: 178px;
        font-size: 18px;
        background: linear-gradient(  #f55a6a, #fe2e6d);
        border-radius: 9px;
}

.white-button{
    color: #FE2E6D;
    height:auto;
    border-radius: 3px;
    background: #fff;
    text-transform: uppercase; 
}
.header-right #phone{
    font-size: 15px;
}

.hero {
    width:100%;
    height:760px;
    color: #fff;
}  

.in-content-hero{
    width:100%;
    height:500px;
    color: #fff;
}

#mobile-nav-toggle{
    display:none;
}

.phone-icon{
    display: none;
}

#hero_text{
    font-size:62px;
    display:block;
    width: 980px;
    padding: 82px 0 0 70px;
}

.heading-text{
    text-align: center;
    height:auto;
    padding: 20px;
    font-size: 20px;
}

.card{
    border:none;
    background: none;
    text-align:center;
    margin:auto;
}

.card-img-top{
    width: 30%;
    margin:auto;
}

.bg-brand-color{
 background: #FE2E6D;
 color: #fff;
}

.mobile-show{
    display:none;
}

.grey-bg{
    background: #F0F0F0;
}

footer a{
    color: #757575;
}

.a-block a{
 display: block;
}

.logo{
    /* width:200px; */
}

.desktop-nav-links{
    width:62%;
    height:auto;
}
.phone-email-prize{
    float: right;
    height: 56px;
    margin-left: 46px;
    font-size: 16px;
    color: #626262;
    margin-right:60px;
    /* width: 34%; */
}
/*--- Media queries --*/

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .grey-bg{
        background: #F0F0F0;
    }
    .in-content-hero{
        width:100%;
        height:200px;
        color: #fff;
    }

    .hero{
        height:400px;
        width:100%;
    }

    #hero_text{
        font-size:27px;
        display:block;
        width:300px;
        padding: 42px 0 0 40px;
    }

    header{
        height:auto;
    }
    
    .logo {
        width: 172px;
    }

    .logo{
        float:left;
    }
  
    
    .header-right {
         float: none;
    }

    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 22px;
        text-transform: uppercase; 
        color: black;
    }

    #mobile-nav-toggle{
        display:block;
        float:right;
    }


    .desktop-nav{
        display:none;
    }

    #mobile-nav{
        width:100%;
        clear: both; 
    }

    .heading-text{
        text-align: center;
        height:auto;
      
    }
    .mobile-hide{
        display:none;
    }
    .mobile-show{
        display:block;
        margin:auto;
        width:20%;
        padding: 9px;
    }
 }

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .desktop-nav{
        display:none;
    }
    .header-right {
        float: right;
        width: 58%;
        margin-top: 30px;
    }
    #mobile-nav-toggle{
        display:block;
        float:right;
        margin-right: 16px;
    }
    .phone-icon{
        display: block;
        float:left;
        margin-top:5px;
    }
    #mobile-nav{
        width:100%;
        clear: both; 
    }
    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase; 
        color: black;
    }
   
     .mobile-nav-content{
        width: 50%; 
        height:62px;
        float:right;
    } 
     .hamburger-icon{
        display: inline-block;
    }
 }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .logo {
        width: 200px;
    }
    .desktop-nav{
        display:none;
    }
    header {
        overflow: hidden;
        padding: 5px 5px;
        height: 112px;
    }

    #mobile-nav-toggle{
        display:block;
        float:right;
        margin-right: 16px;
    }
    .phone-icon{
        display: block;
        float:left;
        margin-top:5px;
    }
    #mobile-nav{
        width:100%;
        clear: both; 
    }
    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase; 
        color: black;
    }
   
     .mobile-nav-content{
        width: 50%; 
        height:62px;
        float:right;
    } 
     .hamburger-icon{
        display: inline-block;
    }

    .header-right {
        float: right;
        width: 17%;
        margin-top: 30px;
    }
 }

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .desktop-nav{
        display:none;
    }
    header {
        overflow: hidden;
        padding: 5px 5px;
        height: 112px;
    }
    .logo {
        width: 200px;
    }
    .header-right {
        float: right;
        width: 20%;
        margin-top: 30px;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media  (min-width: 1025px) and (max-width: 1257px) {
    .logo{
        width:180px;
    }

    .header-right {
        float: right;
        width: 75%;
        margin-top:30px;
    }
    
    .header-right a {
        float: left;
        color: #626262;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        /* font-size: 19px; */
        text-transform: uppercase; 
    }
    
    .phone-email {
        display:none;
    }

    .header-left {
        margin-top: 39px;
    }

    .desktop-nav-links a {
        margin-right: 7px;
        font-size: 16px;
    }

    .desktop-nav-links {
        width: 76%;
    }

    .header-right .button {
        width: 132px;
        font-size: 13px;
        height: 45px;
    }


    .phone-email-prize {
        float: right;
        height: 56px;
        margin-left: 33px;
        font-size: 16px;
        color: #626262;
        margin-right: 27px;
    }
}

@media (min-width: 1258px) and (max-width: 1298px) {
    .desktop-nav-links a{
        margin-right: 13px;
        font-size:17px;
    }
    .logo{
        width:180px;
    }

    .phone-email a{
        font-size:16px;
    }

    .phone-email {
        float: left;
        margin-right: 9px;
        font-size: 13px;
    }

    .header-right .button {
        width: 132px;
        font-size: 13px;
        height: 45px;
    }
    .header-right {
        float: right;
        width: 78%;
        margin-top: 30px;
    }

    .phone-email-prize {
        float: right;
        height: 56px;
        margin-left: 9px;
        font-size: 16px;
        color: #626262;
        margin-right: 8px;
    }
    .desktop-nav-links {
        width: 64%;
        height: auto;
    }
    .header-left {
        margin-top: 39px;
    }
}

@media (min-width: 1298px) and (max-width: 1559px) {
    .desktop-nav-links a{
        margin-right: 13px;
        font-size:17px;
    }
    .logo{
        width:200px;
    }

    .phone-email a{
        font-size:16px;
    }

    .phone-email {
        float: left;
        margin-right: 25px;
        font-size: 13px;
    }

    .header-right .button {
        width: 134px;
        font-size: 15px;
        height: 45px;
    }
    .header-right {
        float: right;
        width: 77%;
        margin-top: 30px;
    }

    .phone-email-prize {
        float: right;
        height: 56px;
        margin-left: 9px;
        font-size: 16px;
        color: #626262;
        margin-right: 10px;
    }
    
    .header-left{
        margin-top: 36px;
        
    }
}

@media (min-width: 1560px) and (max-width:1598px){
    .desktop-nav-links a{
        margin-right: 13px;
        font-size:17px;
    }
    .logo{
        width:200px;
    }

    .phone-email a{
        font-size:16px;
    }

    .header-left{
        margin-top: 36px;
        
    }
    .header-right .button {
        width: 178px;
        font-size: 16px;
        
    }
    .header-right {
        float: right;
        width: 77%;
        margin-top: 30px;
    }
}

@media (min-width: 1599px) and (max-width:1693px){
 
    .desktop-nav-links a{
        margin-right: 16px;
        font-size:18px;
    }
    .logo{
        width:250px;
    }

    .phone-email a{
        font-size:16px;
    }
}

@media (min-width: 1694px) and (max-width:1760px){
    .desktop-nav {
        width: 100%;
    }
    .header-right a {
        float: left;
        color: #626262;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        /* width: 219px; */
    }
   

    /* .header-left{
        height:62px;
    } */

    .desktop-nav-links a{
        margin-right: 34px;
        font-size:18px;
    }
}

@media (min-width: 1760px) and (max-width:1829px){
    .desktop-nav-links{
        width:61%;
        height:auto;
    }
    .phone-email-prize{
        float: right;
        height: 56px;
        margin-left: 46px;
        font-size: 16px;
        color: #626262;
        margin-right:60px;
        /* width: 34%; */
    }

    .desktop-nav-links a{
        margin-right: 34px;
    }
}

@media (min-width: 1829px) and (max-width: 1945px) {
    
    .desktop-nav-links{
        width:61%;
        height:auto;
    }
    .phone-email-prize{
        float: right;
        height: 56px;
        margin-left: 46px;
        font-size: 16px;
        color: #626262;
        margin-right:60px;
    }

    .desktop-nav-links a{
        margin-right: 48px;
    }

    /* .header-left{
        height:62px;
    }
    .desktop-nav {
        width: 100%;
    }
    .header-right a {
        float: left;
        color: #626262;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase;
        width: 219px;
    }
     .header-right {
        float: right;
        width: 58%;
        margin-top: 30px;
    } */
   
    /* .desktop-nav{
        display: none !important;
    } */
    /* #mobile-nav-toggle{
        display:block;
        float:right;
        margin-right: 16px;
    }
    .phone-icon{
        display: block;
        float:left;
        margin-top:5px;
    }
    #mobile-nav{
        width:100%;
        clear: both; 
    }
    #mobile-nav a {
        display:block;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        text-transform: uppercase; 
        color: black;
    } */
   
    /* .mobile-nav-content{
        /* width: 50%; 
        height:62px;
        float:right;
    } 
     .hamburger-icon{
        display: inline-block;
    } */
}
/*--- End of Media queries --*/